.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.dark-card {
  background-color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.dark-para {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 23px;
}
.light-card {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #000000;
}
.light-para {
  font-family: 'Roboto';
  font-size: 23px;
  color: #000000;
}
.button {
  border: 1px solid #000000;
  color: #000000;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
}
